<a href="https://colab.research.google.com/github/HongDuyen16/pandas/blob/main/00_Creating_Series_and_DataFrames/Pokemon/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [ ]:
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [ ]:
data = (['lvysaur', '45', 'Bulbasaur', 'yes', 'grass'],
        ['Charmeleon', '39', 'Charmander', 'no', 'fire'],
        ['Wartortle', '44', 'Squirtle', 'yes', 'water'],
        ['Metapod', '45', 'Caterpie', 'no', 'bug'])

### Step 3. Assign it to a variable called pokemon

In [ ]:
pokemon = pd.DataFrame(data = data, columns = ['evolution', 'hp', 'name', 'pokedex', 'type'])

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

### Step 5. Add another column called place, and insert what you have in mind.

In [ ]:
pokemon['add'] = pokemon['hp'] + pokemon['hp']

### Step 6. Present the type of each column

In [ ]:
print(pokemon.dtypes)

### BONUS: Create your own question and answer it.

In [ ]:
# delete one column
del pokemon['add']